<form action="/search" method="get" class="form-horizontal" role="form">

<div class="input-group" id="adv-search">
      <input type="text" name="q" class="form-control" placeholder="Search for properties" />
      <div class="input-group-btn">
          <div class="btn-group" role="group">
              <div class="dropdown dropdown-lg">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">

                        <div class="form-group">
                          <label for="filter">Filter by</label>
                          <select class="form-control" name="property_type">
                              <option value="" selected>Any Types</option>
                              <option value="0">Residential</option>
                              <option value="1">Rental</option>
                              <option value="2">Commercial</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="contain">City</label>
                          <input class="form-control" name="city" type="text" />
                        </div>

                  </div>
              </div>
              <button type="submit" class="btn btn-primary"">Search</button>
          </div>
      </div>
  </div>
</form>
